
//Keyframes
//WELCOME--------------
@keyframes welcomeCloseAnimation {
    to{
        opacity: 0
    }
}
@keyframes welcomeLogoLetter {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-8px);
    }
}

@keyframes welcomeLogoCar {
    to{
        transform: translateX(0);
    }
}
//FOOTER--------------
@keyframes footerIconOpenAnimation {
    to{
        transform: scale(1.2) translateY(-5px);
    }
}
//RATE-------
@keyframes rateStarUp {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
}
@keyframes openRatesBox{
    to{
        transform: translateX(0);
    }
}
//Points add
@keyframes addPoints{
    to{
        opacity: 0;
        transform: translate(10px, -10px);
    }
}