
//VARIABLES
@import "./variables";
//KEYFRAMES
@import "./keyframes";
//WELCOME
@import "./import/welcome";
//FOOTER
@import "./import/footer";
//CATEGORY
@import "./import/category";
//ITEM
@import "./import/item";
//CART
@import "./import/cart";
//COUPON
@import "./import/coupon";
//RATE
@import "./import/rate";

body{
    background-color: $body-color;

    *{
        font-family: $font !important;
    }
    > div[style="text-align:right;position:fixed;bottom:3px;right:3px;width:100%;z-index:999999;cursor:pointer;line-height:0;display:block;"]{
        display: none !important;
    }
    a{
        color: $black;

        &:hover{
            text-decoration: none;
            color: $black;
        }
    }
    //SHOP_ITEM
    div#shop-item{
        user-select: none;
        height: 120px;
        .item-body{
            .item-title{
                line-height: 1.5em;
                height: 3em;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
            .item-tags{
                color: $icon-color;
                font-size: 12px;
                font-weight: 200;
            }
            .item-info{
                .item-price{
                    color: $secondary-color;
                    font-size: 18px;
                }
                .item-shipping{
                    color: $third-color;
                    font-weight: bold;
                }
            }
        }
    }
    .adv{
        color: $icon-color !important;
    }
    .price{
        color: $secondary-color;
    }
    .badge{
        font-size: 12px !important;
    }
    .color-2{
        color: $activeIcon-color !important;
    }
    .color-3{
        color: $third-color !important;
    }
    .bg-color-2{
        background-color: #e2d8f2 !important;
    }
    .opa-bg{
        border-radius: 30px;
        background-color: rgba($color: #b0b0b0, $alpha: .4);
    }
    .box-shadow-round{
        box-shadow: 1px 1px 2px rgba($color: $black-color, $alpha: 0.03),
                    0 1px 8px rgba($color: $black-color, $alpha: 0.01);
    }
    .input-group-icon{
        background-color: $light-dark;
        border-radius: 10px;
        height: 50px;
        color: $icon-color;
        transition: .5s;

        input{
            background-color: transparent;
            border: 0;

            &:focus{
                outline: none !important;
                box-shadow: none;
                background-color: transparent;
            }
        }
    }
    .small-round{
        border-radius: 5px;
    }
    .big-round{
        border-radius: 200px
    }
    .message{
        background-color: $light-dark;
        color: $icon-color;
        border-radius: 3px;
    }
    .barcode{
        font-family: 'Libre Barcode 39', cursive !important;
        transform: scaleY(3);
    }
    .no-select{
        user-select: none !important;
    }
    #verify_code_section{
        input{
            width: 30px;
            border: 0;
            border-bottom: 2px solid black;
            background-color: transparent;
            outline: none;
        }
    }
}
//PC mediaqueries
@media screen and (min-width: 768px){
    html{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body{
        $width: 350px;
        width: $width;
        overflow-x: hidden;

        &> footer#footer, section#cart footer{
            width: $width !important;
            left: 50%;
            transform: translateX(-50%);
        }
        section#cart footer{
            padding-bottom: 10%;
        }
    }
}