@font-face {
    font-family: 'Han-Sans';
    font-style: auto;
    font-weight: 400;
    font-display: fallback;
    src:local('Han Sans'),
        local('Han Sans Regular'),
        local('Han Sans-Regular'),
        local('Han-Sans-Regular'), 
        local('HanSansRegular'),   
        url(./SourceHanSansSC-Regular.woff) format('woff');
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: 'Han-Sans';
    font-style: auto;
    font-weight: 600;
    font-display: fallback;
    src:local('Han Sans'),
        local('Han Sans Bold'),
        local('Han Sans-Bold'),
        local('Han-Sans-Bold'), 
        local('HanSansBold'),  
        url(./SourceHanSansSC-Bold.woff) format('woff');
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: 'Han-Sans';
    font-style: auto;
    font-weight: 200;
    font-display: fallback;
    src:local('Han Sans'),
        local('Han Sans Light'),
        local('Han Sans-Light'),
        local('Han-Sans-Light'), 
        local('HanSansLight'),  
        url(./SourceHanSansSC-Light.woff) format('woff');
    unicode-range: U+4E00-9FFF;
}