//Create Color variables
$body-color: #fbfbfb;
$body-alt-color: #ffffff;
$black-color: #232b2b;
$black: #000000;
$light-dark: #ebebeb;
$secondary-color: #f38181;
$third-color: #3cac9f;
//Font
$font: 'Han-Sans';
//Icon
$icon-color: #b0b0b0;
$activeIcon-color: #756c83;


//#b9e1dc #f38181